html(lang="zh-CN")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        title #{download}#{product_name}
        script(src="http://cdn.bootcss.com/jquery/2.1.1/jquery.min.js")
        link(href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.css", rel="stylesheet")
    body(style="width: 100%;")
        .container-fluid(style="padding-left: 0px;padding-right: 0px")
            .row(style="margin-top: 20px; margin-right: 0px; margin-left: 0px;")
                .title(style="width: 100%;")
                    .title_icon(style="width: 30%; float: left; padding-left: 20px; padding-top: 20px;min-width:60px;")
                        img.img-rounded(alt="120x120", src="#{product_main_icon_url}", style="width: 100%;max-width:140px;")
                    .title_info(style="float: left; width: 50%;")
                        .title_name(style="margin-left: 40px; margin-top: 18px;")
                            h2 #{product_name}
                        .title_other(style="margin-left: 40px; margin-top: 10px;")
                            | #{version} #{product_version} | #{package_size} #{product_size}
                            br
                        div
                            a(style="text-decoration: none;", href="#{product_package_url}")
                                div(style="border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px; width: 75px; margin-left: 40px; margin-top: 31px; background-color: #2784DA; color: #fff;height: 25px;padding-top: 2px;padding-left: 8px;") #{download_install}
            hr(style="width: 100% ;")
            .row(style="margin-top: 20px; margin-right: 0px; margin-left: 0px;")
                div(style="height: 280px; margin-left: 0px; background-color: #fff; width: 100%;padding-left: 20px;")
                    h4 #{photo_division}
                    div(style="width: 100%;overflow-x: scroll;")
                        div(style="width: 920px;")
                            div(style="width: 160px; background-color: bisque; height: 210px; margin-left: 20px; float: left;")
                                img(style="width:100%;height:100%", alt="", src="#{product_photo_1_url}")
                            div(style="width: 160px; background-color: bisque; height: 210px; margin-left: 20px; float: left;")
                                img(style="width:100%;height:100%", alt="", src="#{product_photo_2_url}")
                            div(style="width: 160px; background-color: bisque; height: 210px; margin-left: 20px; float: left;")
                                img(style="width:100%;height:100%", alt="", src="#{product_photo_3_url}")
                            div(style="width: 160px; background-color: bisque; height: 210px; margin-left: 20px; float: left;")
                                img(style="width:100%;height:100%", alt="", src="#{product_photo_4_url}")
                            div(style="width: 160px; background-color: bisque; height: 210px; margin-left: 20px; float: left;")
                                img(style="width:100%;height:100%", alt="", src="#{product_photo_5_url}")
            hr(style="width: 100%;")
            .row(style="margin-top: 20px;margin-right: 0px; margin-left: 0px;")
                div(style=" margin-left: 0px; background-color: #fff; width: 100%; padding-left: 20px;")
                    h4(style="padding-bottom: 20px;") #{update_details}
                    div(style="margin-left: 0px;padding-left: 20px;padding-top: 20px;")
                        p 2014&#24180;09&#26376;24&#26085;&#26356;&#26032;
                        p - &#24320;&#25918;&#21363;&#26102;&#30495;&#20154;&#31454;&#25216;&#22330;&#12290;
                        p - &#24320;&#25918;&#25293;&#21334;&#34892;&#12290;
                        p - &#24320;&#25918;&#25112;&#38431;&#21450;&#25112;&#38431;&#21103;&#26412;&#12290;
                        p - &#24320;&#25918;&#21326;&#20029;&#30340;&#27494;&#22120;&#31995;&#32479;&#12290;
            hr(style="width: 100%;")
            .row(style="margin-top: 20px;margin-right: 0px; margin-left: 0px;")
                div(style=" margin-left: 0px; background-color: #fff;width: 100%;padding-left: 20px;")
                    h4(style="padding-bottom: 20px;") #{detailed_description}
                    div(style="margin-left: 0px;padding-left: 20px;padding-right: 20px;")
                        p &#12298;&#22825;&#38477;&#12299;
                        p -------------------------
                        p
                            | &#20840;&#21517;&#12298;&#22825;&#38477;-&#36817;&#21355;&#33521;&#38596;&#20256;&#12299;&#65292;&#26159;&#31227;&#21160;&#24179;&#21488;&#39318;&#27454;&#21363;&#26102;&#25112;&#26007;&#21345;&#29260;&#28216;&#25103;&#12290;&#19982;&#20256;&#32479;&#30340;&#22238;&#21512;&#21046;&#21345;&#29260;&#28216;&#25103;&#19981;&#21516;&#65292;&#26412;&#20316;&#37319;&#29992;&#20102;&#21019;&#26032;&#30340;&#21363;&#26102;&#23545;&#25112;&#31995;&#32479;&#65292;&#35753;&#29609;&#23478;&#22312;&#31227;&#21160;&#31471;&#20063;&#33021;&#20877;&#27425;&#20307;&#39564;&#27785;&#40664;&#25171;&#26029;&#65292;&#24320;&#22823;&#25511;&#22330;&#32763;&#30424;&#65292;&#26497;&#38480;&#34180;&#33900;&#25937;&#20154;&#30340;&#26497;&#38480;&#25805;&#20316;&#24555;&#24863;&#12290;&#27431;&#32654;&#39764;&#24187;&#39118;&#26684;&#30340;&#31934;&#32654;&#30011;&#38754;&#12289;&#21019;&#26032;&#30340;&#28216;&#25103;&#29609;&#27861;&#12289;&#20016;&#23500;&#30340;&#31574;&#30053;&#32452;&#21512;&#12289;&#26497;&#33268;&#30340;&#25805;&#20316;&#24555;&#24863;&#35753;&#26412;&#20316;&#25104;&#20026;&#21345;&#29260;&#28216;&#25103;&#20013;&#19981;&#21487;&#22810;&#24471;&#30340;&#31934;&#21697;&#12290;&#29609;&#23478;&#22312;&#28216;&#25103;&#20013;&#23558;&#25198;&#28436;&#36817;&#21355;&#26143;&#31105;&#21355;&#20891;&#39046;&#34966;&#65292;&#22312;&#40638;&#19979;&#23558;&#39046;&#30340;&#30340;&#24110;&#21161;&#19979;&#24102;&#39046;&#36817;&#21355;&#26143;&#30340;&#20154;&#27665;&#19968;&#36215;&#23545;&#25239;&#20174;&#22825;&#26143;&#38477;&#20020;&#32780;&#26469;&#30340;&#22825;&#38477;&#20891;&#22242;&#12290;
            hr(style="width: 100%;")
            .row(style="margin-top: 20px; margin-right: 0px; margin-left: 0px;")
                div(style="height: 250px; margin-left: 0px; background-color: #fff; width: 100%;padding-left: 20px;")
                    h4(style="padding-bottom: 20px;") #{other_information}
                    div(style="margin-left: 0px;padding-left: 20px;padding-right: 20px;")
                        p - #{producer}:#{product_producer}
                        p - #{last_update}:#{product_last_update}
                        p - #{version}:#{product_version}
